# ASSIGNMENT 3

# Create a list with variable my_list3
 # i) The list should contain "omon", 36.5, 5, False

In [11]:
# The list should contain "omon", 36.5, 5, False
my_list3 = ["omon", 36.5, 5, False]
print(my_list3)

['omon', 36.5, 5, False]

# ii) Replace "False" with your first name

In [12]:
# Replace "False" with your first name
my_list3 = ["omon", 36.5, 5, 'Judith']
print(my_list3)

['omon', 36.5, 5, 'Judith']

# iii) Slice off "omon" using both positive and negative numbers

In [13]:
# Slice off "omon" using both positive and negative numbers
my_list3 = ["omon", 36.5, 5, False]
print(my_list3)

['omon', 36.5, 5, False]

In [14]:
my_list3[:1]

['omon']

In [15]:
my_list3[:-3]

['omon']

# 2 Display the following output

In [16]:
# i)
my_list3[::-1]

[False, 5, 36.5, 'omon']

In [17]:
# ii)
my_list3[::2]

['omon', 5]

In [18]:
# iii)
my_list3[:1]

['omon']

In [19]:
# iv)
my_list3[1:2]

[36.5]

In [25]:
# v)
my_list3[2:1]

[]

# 3) My_list6 = "House", "Monkey", 25, 30, 0.7

In [21]:
# a) My_list6 = ["House","Monkey", 25, 30, 0.7]

my_list6 = ["House", "monkey", 25, 30, 0.7]
print(my_list6)

['House', 'monkey', 25, 30, 0.7]

In [3]:
# i) Make your first name the last data in the above list

my_list6 = ["House", "monkey", 25, 30, 0.7, 'Judith']
print(my_list6)

['House', 'monkey', 25, 30, 0.7, 'Judith']

In [23]:
# ii) Delete "Monkey"

my_list6.pop(1)

'monkey'

In [4]:
print(my_list6)

['House', 'monkey', 25, 30, 0.7, 'Judith']

In [5]:
# iii) Replace "House" with "Building"

print(my_list6)

['House', 'monkey', 25, 30, 0.7, 'Judith']

In [6]:
my_list6 = ["Building", "monkey", 25, 30, 0.7, 'Judith']
print(my_list6)

['Building', 'monkey', 25, 30, 0.7, 'Judith']